@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$dark-red: rgb(119, 27, 27);
$black: black;
$whiteSmoke: whiteSmoke;
$gray: gray;
$blue: #3B57E1;

.button {
    width: 15rem;
    height: 2rem;
    cursor: pointer;
    background-color: $blue;
    color: whitesmoke;
    border: $blue;
    font-family: 'Roboto';
}

.input {
    width: 15rem;
    height: 2rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 5px 0;
}

.saveBtn{
    width: 15rem;
    height: 2rem;
    cursor: pointer;
    background-color: $dark-red;
    color: whitesmoke;
    border: $dark-red;
    font-family: 'Roboto';
}

.ReactQuill{
    width: 15rem;
}